footer.flex {
  justify-content: center;
  margin-top: -5px;
  margin-bottom: 30px;
}

footer ul.flex {
  gap: 80px;
}

footer ul li a {
  color: var(--title);
  font-size: 1.1rem;
}

footer ul li a:hover {
  color: var(--purple);
  transition: 0.5s;
}

footer .rights {
  display: flex;
  justify-content: center;
  color: var(--subtitle);
  margin-top: 30px;
}

/***********************************************************************/

/*************************************************************************/

@media (max-width: 850px) {
  footer ul.flex {
    gap: 20px;
  }
}
